:root {
    --light-0: #fbfbff;
    --light-1: #eff6ff;
    --light-2: #daedff;
    --light-3: #d3edff;
    --dark-0: #031628;
    --dark-1: #0a1e38;
    --dark-2: #0c223f;
    --dark-3: #6f7c98;
    --accent: #1074d2;
    --accent-1: #0863b9;
    --accent-2: #4672c5;
    --accent-3: #6789cb;
    --border-radius: 7px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--accent);
    background: var(--light-0);
}

.dark body {
    color: var(--light-0);
    background: var(--dark-0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', sans-serif;
    line-height: 1.2;
}

input::-webkit-input-placeholder {
    color: var(--accent-3);
}

.dark input::-webkit-input-placeholder {
    color: var(--light-3);
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 15px !important;
    }
}

.container {
    margin: 0 auto;
    padding: 0 32px;
}
