:root {
    --light-0: #fbfbff;
    --light-1: #eff6ff;
    --light-2: #daedff;
    --accent: #1074d2;
    --accent-1: #0863b9;
    --accent-2: #4672c5;
    --accent-3: #6789cb;
    --border-radius: 7px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--accent);
    background: var(--light-0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', sans-serif;
    line-height: 1.2;
}

img {
    border: 1px solid;
    border-radius: var(--border-radius);
}

input::-webkit-input-placeholder {
    color: var(--accent-3);
}


.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 32px;
}

.icon {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    height: 40px;
    width: 40px;
    justify-content: center;
    outline: none;
    border: 1px solid var(--light-0);
    transition: background .5s ease, border .5s ease;
}

.icon:hover {
    background: var(--light-2);
    border: 1px solid var(--accent);
}

.btn-with-arrow {
    display: flex;
    align-items: center;
}

.btn-with-arrow::after {
    content: '⟶';
    font-size: 20px;
    margin-left: 20px;
}

.btn-light-0 {
    background: var(--light-0);
    color: var(--accent-1);
    border: 1px solid var(--accent-1);
    border-radius: 2rem;
    margin: auto;
    padding: 10px 20px;
    transition: background .5s ease;
}

.btn-light-0:hover {
    background: var(--light-2);
}

.btn-light-0:focus {
    background: var(--light-2);
}

.btn-light-1 {
    background: var(--light-1);
    color: var(--accent-1);
    border: 1px solid var(--accent-1);
    border-radius: 2rem;
    margin: auto;
    padding: 10px 20px;
    transition: color .5s ease, background .5s ease;
}

.btn-light-1:hover {
    background: var(--light-2);
}

.btn-light-1:focus {
    color: var(--light-0);
    background: var(--accent-2);
}

.btn-accent-1 {
    background: var(--accent-1);
    color: var(--light-0);
    border: 1px solid var(--accent-1);
    border-radius: 2rem;
    margin: auto;
    padding: 10px 20px;
    transition: color .5s ease, background .5s ease;
}

.btn-accent-1:hover {
    background: var(--accent-2);
}

.btn-accent-1:focus {
    color: var(--accent-1);
    background: var(--light-2);
}
