.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form button {
    margin-top: 25px;
}

.form__error {
    font-size: 14px;
    color: var(--accent-1);
    min-height: 23px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.form__error svg {
    min-width: 16px;
}

.dark .form__error {
    color: var(--light-1);
}
