.status-message {
    margin-top: 8px;
    margin-bottom: 28px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .status-message img {
        width: 100% !important;
    }
}

.status-message img {
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 0 auto 30px;
    width: 350px;
}

.status-message h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.status-message > div {
    margin-bottom: 5px;
}

.status-message > a {
    text-decoration: underline !important;
}