.input__div {
    width: 100%;
}

.input__label {
    color: var(--accent-3);
    min-height: 22px;
    margin: 5px 0 2px 20px;
}

.input {
    background: var(--light-1);
    padding: 9px 20px;
    border: 1px solid;
    border-radius: 2em;
    transition: background;
    width: 100%;
}

.input:hover, .input:focus {
    background: var(--light-2);
}

.input__error {
    font-size: 14px;
    color: var(--accent-1);
    min-height: 23px;
    margin-left: 2px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.input__error svg {
    min-width: 16px;
}

.dark .input__label {
    color: var(--light-3);
}

.dark .input {
    background: var(--dark-1);
}

.dark .input:hover, .dark .input:focus {
    background: var(--dark-2);
}

.dark .input__error {
    color: var(--light-1);
}
