.header__nav ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 44px;
}

.header__nav ul li button {
    transition: text-decoration 500ms ease;
}

.header__nav ul li button:hover {
    text-decoration: underline;
}
