.history-table {
    border: 1px solid;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

.history-table > div{
    border-bottom: 1px solid;
}

.history-table > div:last-child {
    border-bottom: none!important;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.history-table > div > div {
    flex: 1 1 33%;
    text-align: center;
}

.history-table__head-row {
    background: var(--light-1);
    color: var(--accent-2);
    padding: 15px;
    display: flex;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.dark .history-table__head-row {
    background: var(--dark-1);
    color: var(--light-2);
}

.history-not-found {
    text-align: center;
    font-size: 30px;
}